server:
  port: 8090

spring:
  h2:
    console:
      settings:
        web-allow-others: true
  datasource:
    url: jdbc:h2:tcp://localhost/~/space
    username: sa
    password:
    driver-class-name: org.h2.Driver

  mvc:
    hiddenmethod:
      filter:
        enabled: true

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
#    org.hibernate.type: trace